{% extends "BthuillierMainBundle:Blog:layout.html.twig" %}
{% block page_name %}Blog posts{%endblock%}
{% block content %}
    {% for blog in blogs %}
        <article>
        <div class="page-header">
            <h2>{{blog.title }} <small>Posted on {{ blog.publishedAt|date("F d, Y") }} by Benjamin Thuillier</small></h2>
        </div>
        {{ blog.body | raw }}
        </article>
    {% endfor %}

{% endblock %}