{% for blog in blogs %}
<div class="row">
    <div class="span8">
        <h2>
            <a href="{{path('bthuillier_main_blog_show', { 'slug': blog.slug })}}">{{blog.title }}</a>
            <small>posted on {{ blog.publishedAt|date("F d, Y") }} </small>
        </h2>
            {{ blog.body | raw }}
    </div>
</div>
{%endfor %}