{% extends "BthuillierMainBundle::layout.html.twig" %}
{% block title %} {{parent() }}CV{% endblock %}
{% block cvMenu %}class="active"{% endblock %}
{% block page_name %}
    Ingénieur Etude et Développement Junior
    <a href="#" class="btn success pull-right">Télécharger le CV</a>
{%endblock%}
{% block content %}
<div class="row">
{% include "BthuillierMainBundle:Main:cv/presentation.html.twig" %}
</div>
<div class="row">
{% include "BthuillierMainBundle:Main:cv/experience.html.twig" %}
</div>


<div class="row">
{% include "BthuillierMainBundle:Main:cv/skill.html.twig" %}
</div>
<div class="row">
{% include "BthuillierMainBundle:Main:cv/school.html.twig" %}

</div>

{% endblock %}