    <div class="span14">
        
        <h4 class="title-CV">Expérience</h4>
        <dl class="accordion">
            <dt>Depuis septembre 2011 Ingénieur d'études et développements <a href="http://teads.fr">Teads</a></dt>

            <dd>Développement d'un algorithme d'affichage des produits les plus pertinents pour un utilisateur

            Utilisation de technologie NoSQL tels que Cassandra/Hadoop

            Secteur :  High Tech</dd>

            <dt>2010 - 2011 Ingénieur d'études <a href="http://www.viziago.fr/">Viziago</a></dt>

            <dd>Recherche et développement d'outils de statistique géographique avec Openlayers mapserver et postgres/postgis.

            Développement d'application en symfony 1.X et symfony 2 avec postgres

            Interfaçage de symfony2 avec LDAP

            </dd>
            <dt>2010 Developpeur Cobooking</dt>

            <dd>Développement d'un service de prise de rendez vous en ligne en php5/mysql avec l'utilisation de symfony 1.4 :
            <ul>
                <li>Création d'une API SOAP</li>
                <li>Implémentation du standard ICAL ( normes pour les calendriers )</li>
            </ul>

            </dd>
            <dt>2009 Développeur <a href="http://www.airtist.com/Blog">Airtist</a></dt>

            <dd>Développement de module de gestion de test d'instrument en php5/Mysql

            <dd>

        </dl>
    </div>