    <div class="span14">
        
        <h4 class="title-CV">Expérience</h4>
        <dl class="accordion">
            <dt>Depuis septembre 2011 Ingénieur d'études et développements <a href="http://teads.fr">Teads</a></dt>

            <dd>
                Développement d'un algorithme d'affichage 
                des produits les plus pertinents pour un utilisateur
                Utilisation de technologie NoSQL tels que Cassandra/Hadoop
            </dd>

            <dt>2010 - 2011 Ingénieur d'études <a href="http://www.viziago.fr/">Viziago</a></dt>

            <dd>Recherche et développement d'outils de statistique géographique 
                avec :
                <ul>
                    <li>Openlayers</li>
                    <li>Mapserver</li>
                    <li>postgres/postgis</li>
                    <li>symfony 1.X</li>
                </ul>
                Documentation et réalisation autour du framework Symfony2 :
                <ul>
                    <li>Documentation Technique</li>
                    <li>Test de fonctionnalités</li>
                    <li>Création d'un module d'interfaçage avec LDAP</li>
                </ul>
            </dd>
            <dt>2010 Developpeur Cobooking</dt>

            <dd>Développement d'un service de prise de rendez vous en ligne en php5/mysql avec l'utilisation de symfony 1.4 :
            <ul>
                <li>Création d'une API SOAP</li>
                <li>Implémentation du standard ICAL ( normes pour les calendriers )</li>
            </ul>

            </dd>
            <dt>2009 Développeur <a href="http://www.airtist.com/Blog">Airtist</a></dt>

            <dd>Développement de module de gestion de test d'instrument en : 
                    <ul>
                        <li>php5</li>
                        <li>Mysql</li>
                    </ul>
            </dd>

        </dl>
    </div>