<div class="span16">
    <h4 class="title-CV">Présentation</h4>
    <p>
        Étudiant en dernière année de cycle en ingénierie informatique spécialité Génie Logiciel, 
        j'aime le développement web et toutes les problématiques qu'il peut soulever. 
        Curieux et attentif à toutes les évolutions techniques liées au web, 
        j'essaye d'être toujours au plus près des nouveautés techniques, et j'en expérimente le plus possible.
    </p>
</div>