<div class="span16">

    <h4 class="title-CV">Etudes</h4>
    <dl>
        <dt><span class="years">2009 - 2012</span> EPSI - Cycle supérieur en ingénieurie informatique</dt>
        <dt><span class="years">2007 - 2009</span> EPSI - BTS Informatique de gestion option développeur d'applications</dt>
        <dt><span class="years">2006 - 2007</span> Université Montpellier 2 Sciences et Technique du Languedoc IUT Chimie de Montpellier</dt>
        <dt><span class="years">2003 - 2006</span> Lycée Jean Mermoz Bac S Physique Chimie</dt>
    </dl>
</div>