<div class="span14">
    <h4 class="title-CV">Compétences</h4>
    <div class="row skill">
        <div class="span3">
            <dl class="accordion">
                <dt>Langages</dt>
                <dd>PHP</dd>
                <dd>javascript</dd>
                <dd>C#</dd>
                <dd>J2EE</dd>
                <dt>Framework</dt>
                <dd>Symfony(1.4 et 2)</dd>
                <dd>jquery</dd>
                <dd>openlayers</dd>

            </dl>
        </div>
        <div class="span3">
            <dl class="accordion">
                <dt>Web</dt>
                <dd>Less</dd>
                <dd>CSS</dd>
                <dt>IDE</dt>
                <dd>Netbeans</dd>
                <dd>Eclipse</dd>
                <dd>Visual Studio</dd>
            </dl>
        </div>
        <div class="span3">
            <dl class="accordion">
                <dt>SGBD</dt>
                <dd>Mysql</dd>
                <dd>MS SQL</dd>
                <dd>PostgreSql et utilisation de postgis</dd>
                <dt>NoSQL</dt>
                <dd>cassandra/Hadoop</dd>
                <dd>mongoDB</dd>
            </dl>
        </div>
        <div class="span3">
        <dl class="accordion">
            <dt>Serveur</dt>
            <dd>mapserver</dd>
            <dt>OS</dt>
            <dd>linux</dd>
            <dd>windows server</dd>
            <dd>windows(XP, vista, 7)</dd>
        </dl>
        </div>
    </div>
</div>