{% extends "BthuillierMainBundle::layout.html.twig" %}
{% block page_name %}Ingénieur Etude et Développement Junior{%endblock%}
{% block content %}
<div class="row">
</div>
<div class="row">
    <div class="span12"><h2>Experience</h2></div>
</div>
<div class="row">
    <div class="span12">Ingénieur d'études et développements Teads</div>
</div>
<div class="row">
    <div class="span12">Ingénieur d'études Viziago</div>
</div>
<div class="row">
    <div class="span12">Developpeur Cobooking</div>
</div>
<div class="row">
    <div class="span12">Développeur Airtist</div>
</div>
<div class="row">
    <div class="span12"><h2>Compétence</h2></div>
</div>
<div class="row">
    <div class="span6">
        <h3>Génie Logiciel</h3>
    </div>
    <div class="span6">
        <h3>Dev Web</h3>
    </div>
</div>
<div class="row">
    <div class="span6">
        <h3>Base de Données</h3><br />
        SGBDR - MySql, PostgreSQL, Oracle, MSSQL<br />
        NoSQL - MongoDB, Cassandra
    </div>
    <div class="span6">
        <h3>Gestion de projet</h3>
    </div>
</div>
<div class="row">
    <div class="span6">
        <h3>Génie Logiciel</h3>
    </div>
    <div class="span6">
        <h3>Dev Web</h3>
    </div>
</div>
{% endblock %}