{% extends "BthuillierMainBundle::layout.html.twig" %}
{% block page_name %}Ingénieur Etude et Développement Junior{%endblock%}
{% block content %}
<div class="row">
    <div class="span14">
        <h4 class="title-CV">Expérience</h4>
        <dl class="accordion">
            <dt>Depuis septembre 2011 Ingénieur d'études et développements <a href="http://teads.fr">Teads</a></dt>

            <dd>Développement d'un algorithme d'affichage des produits les plus pertinents pour un utilisateur

            Utilisation de technologie NoSQL tels que Cassandra/Hadoop

            Secteur :  High Tech</dd>

            <dt>2010 - 2011 Ingénieur d'études <a href="http://www.viziago.fr/">Viziago</a></dt>

            <dd>Recherche et développement d'outils de statistique géographique avec Openlayers mapserver et postgres/postgis.

            Développement d'application en symfony 1.X et symfony 2 avec postgres

            Interfaçage de symfony2 avec LDAP

            Secteur :  Editeurs logiciels
            </dd>
            <dt>2010 Developpeur Cobooking</dt>

            <dd>Développement d'un service de prise de rendez vous en ligne en php5/mysql avec l'utilisation de symfony 1.4 :

            - Création d'une API SOAP
            - Implémentation du standard ICAL ( normes pour les calendriers )

            Secteur :  Multimédia - Internet
            </dd>
            <dt>2009 Développeur <a href="http://www.airtist.com/Blog">Airtist</a></dt>

            <dd>Développement de module de gestion de test d'instrument en php5/Mysql

            Secteur :  Multimédia - Internet
            <dd>

        </dl>
    </div>
</div>


<div class="row">
    <div class="span14">
        <h4 class="title-CV">Compétences</h4>
        <div class="row skill">
            <div class="span3">
                <dl class="accordion">
                    <dt>Langages</dt>
                    <dd>PHP</dd>
                    <dd>javascript</dd>
                    <dd>C#</dd>
                    <dd>J2EE</dd>
                    <dt>Framework</dt>
                    <dd>Symfony(1.4 et 2)</dd>
                    <dd>jquery</dd>
                    <dd>openlayers</dd>

                </dl>
            </div>
            <div class="span3">
                <dl class="accordion">
                    <dt>Web</dt>
                    <dd>Less</dd>
                    <dd>CSS</dd>
                    <dt>IDE</dt>
                    <dd>Netbeans</dd>
                    <dd>Eclipse</dd>
                    <dd>Visual Studio</dd>
                </dl>
            </div>
            <div class="span3">
                <dl class="accordion">
                    <dt>SGBD</dt>
                    <dd>Mysql</dd>
                    <dd>MS SQL</dd>
                    <dd>PostgreSql et utilisation de postgis</dd>
                    <dt>NoSQL</dt>
                    <dd>cassandra/Hadoop</dd>
                    <dd>mongoDB</dd>
                </dl>
            </div>
            <div class="span3">
            <dl class="accordion">
                <dt>Serveur</dt>
                <dd>mapserver</dd>
                <dt>OS</dt>
                <dd>linux</dd>
                <dd>windows server</dd>
                <dd>windows(XP, vista, 7)</dd>
            </dl>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="span14">
    <h4 class="title-CV">Etudes</h4>
    <dl>
    <dt><span class="years">2009 - 2012</span> EPSI - Cycle supérieur en ingénieurie informatique</dt>
    <dt><span class="years">2007 - 2009</span> EPSI - BTS Informatique de gestion option développeur d'applications</dt>
    <dt><span class="years">2006 - 2007</span> Université Montpellier 2 Sciences et Technique du Languedoc IUT Chimie de Montpellier</dt>
    <dt><span class="years">2003 - 2006</span> Lycée Jean Mermoz Bac S Physique Chimie</dt>
    </dl>
    </div>
</div>

{% endblock %}